* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 12px;
}


.section1 {
    border: 1px solid black;
    padding: 12px;
    margin-bottom: 12px;
}

.section1 p {
    margin: 22px 0;
}


.section2 {
    margin-bottom: 12px;
}

.section2 .img-block {
    margin: 20px 0;
}


.section3 ol {
    margin: 15px;
}