* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: tomato;
    color: #fff;
    cursor: pointer;
}

.header {
    width: 100%;
    height: 7vh;
    color: #fff;
    background-color: tomato;
    display: grid;
    place-content: center;
    text-transform: uppercase;
}

.actions-box {
    width: 900px;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;

}

.actions-box .searching {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.actions-box .searching input {
    width: 100%;
    padding: 5px 10px;
}

.actions-box .sorting {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 10px;
}

.students {
    width: 900px;
    max-width: 100%;
    margin: 10px auto;
    overflow-x: auto;
}

table {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    text-align: left;
}


table tbody tr {
    border: 1px solid #ccc;
}

table tbody tr:last-child {
    border-bottom: 5px solid tomato;
}

tbody tr:hover {
    background: #f7f6f6;
    color: tomato;
}

th {
    background-color: tomato;
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
}

td {
    padding: 10px;

}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .actions-box .sorting {
        grid-template-columns: 1fr 1fr 1fr;
    }
}