@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.input-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

input,
select,
button {
    padding: 0.75rem;
    font-size: 1rem;
}

input[type="text"] {
    flex: 2;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="date"] {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
}

button:hover {
    opacity: 0.9;
}

.todo-section {
    margin-bottom: 2rem;
}

.todo-section h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1.4rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.todo-item:not(.completed) {
    background: #000;
    color: white;
}

.todo-item.completed {
    background: white;
    border: 1px solid #000;
}

.todo-actions {
    display: flex;
    gap: 0.6rem;
}

.todo-actions button {
    background: none;
    padding: 0.25rem;
}

.todo-item:not(.completed) .todo-actions button {
    color: white;
}

.todo-item.completed .todo-actions button {
    color: black;
}

.todo-item.completed .todo-actions .completedTask {
    display: none;
}

@media(max-width:640px) {
    .input-container {
        flex-direction: column;
    }
}